.panelbarHeader 
{ 		
	FONT-SIZE: 11px; 
	COLOR: #	000000;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	background-color: #CFE6F2;
	border: 1px solid #AFCDDC;
	height: 25px;
}

.panelbarHeaderHover 
{ 		
	FONT-SIZE: 11px; 
	COLOR: #	000000;
	FONT-FAMILY: Arial,Verdana;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	background-color: #A0D5F5;
	border: 1px solid #AFCDDC;
	height: 25px;
}

.panelbarHeaderExpand
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	height: 25px;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
	padding: 4px;
	background-color: #CFE6F2;
	border: 1px solid #AFCDDC;
	border-bottom: 0px;
}

.panelbarItem 
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 16px;
	background-color: #E4F1F8;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.panelbarItemWhite 
{
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	padding: 3px;
	padding-left: 1px;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: none;
	font-size:10px;

}

.panelbarItemSelected
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 16px;
	background-color: #EDF5FB;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: underline;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.panelbarItem2
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 32px;
	background-color: #E4F1F8;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.panelbarItem2Disabled
{
	FONT-SIZE: 11px; 
	COLOR: gray;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 32px;
	background-color: #DDDDDD;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.panelbarItem2Expanded
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 32px;
	background-color: #E4F1F8;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.panelbarItem2Selected
{
	FONT-SIZE: 11px; 
	COLOR: #000000;
	FONT-FAMILY: Arial,Verdana;
	width: 100%;
	cursor: hand;
	cursor: pointer;
	padding: 3px;
	padding-left: 32px;
	background-color: #EDF5FB;
	border: 1px solid #C1D9E5;
	border-top: 0px;
	text-decoration: underline;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}