
  <connectionStrings>
    
   <add name="SchoolAdCBD" connectionString="data source=.;initial catalog=SchoolAdCBD ;persist security info=False;uid=sa;pwd=@My1architect;"     providerName="System.Data.SqlClient"/>
   <add  name="SchoolAdTynwald" connectionString="data source=.;initial catalog=SchoolAdTynwald ;persist security info=False;uid=sa;pwd=@My1architect;"    providerName="System.Data.SqlClient"/>
   <add  name="SchoolAdMabvuku" connectionString="data source=.;initial catalog=SchoolAdMabvuku ;persist security info=False;uid=sa;pwd=@My1architect;"    providerName="System.Data.SqlClient"/>
   <add  name="SchoolAdChitungwiza" connectionString="data source=.;initial catalog=SchoolAdChitungwiza ;persist security info=False;uid=sa;pwd=@My1architect;"    providerName="System.Data.SqlClient"/>

  </connectionStrings>


