.MainHeaderLogo
{
	padding: 0px 0px 0px 352px;
	background: url(../../../images/static/DBMSHeader.jpg) #fff no-repeat left center;
	height:80px;
}
.MainHeaderTile
{
	background: url(../../../images/static/DBMSHeaderTile.jpg) #fff left center;
	width:100%;
}

