
  <connectionStrings>
    <!--<add name="FleetAd" connectionString="Data Source=BUILD-MIM-ONEBO;Initial Catalog=FLEETAD;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="FleetAd" connectionString="Data Source=DEV-ONEBOX;Initial Catalog=AXDB;User ID=fleetad;Password=@Mimosa123" providerName="System.Data.SqlClient"/>
    <add name ="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=Yes'"/>
    <add name ="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=Yes'"/>
  </connectionStrings>


